{% extends 'base.html.twig' %}

{% block title %}{{appName}}{% endblock %}

{% block body %}

<div class="flex-container has-max-height">
   <div class="flex-column"> 
        
            <div class="image-container has-max-height">
                <image src="{{ asset('images/robot_hand_umplash.jpg') }}" alt="robot_hand" />
            </div>
        
    </div>

    <div class="flex-column">
        <h1 class="is-primary is-left">{{ appName }}! </h1>

        <hr />

        <div {{ vue_component('App', {
                'toLogin': toLogin,
                'toRegister': toRegister,
                'toForgot': '',
             }) }}>
        </div>
    </div>
</div>
{% endblock %}
