{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/john-rios/pruebas/symfony/2024-pruebas-no-docker/dashboard/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>/home/john-rios/pruebas/symfony/2024-pruebas-no-docker/dashboard/templates/home/index.html.twig</code></li>
    </ul>
    
    <hr />

    {# templates/home.html.twig #}
<div {{ vue_component('Hello', { 'name': 'john' }) }}></div>
</div>
{% endblock %}
