/* _footer.scss */

.footer {
    background-color: darken($primary-color, 10%);
    padding: 20px;
    text-align: center;
    color: white;
    
    @include for-phone-only {
        padding: 10px;
        font-size: 14px;
    }
}
