// .button {
//     background-color: $primary-color;
//     border: none;
//     color: white;
//     padding: 10px 20px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
//     margin: 4px 2px;
//     cursor: pointer;
// }

/* _button.scss */

.button {
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    @include box-shadow(rgba(0, 0, 0, 0.15), 10px);
    
    @include for-phone-only {
        width: 100%;
    }
    
    @include for-tablet-portrait-up {
        width: auto;
    }
    
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}
