{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
<div class="container">
    <h1 class="is-primary is-center">Edit Post</h1>

    <div class="form">
        <div class="form-group">
            {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('app_post_index') }}">back to list</a>

            {{ include('post/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
